doctype html
html
	head
	block head
		include partials/meta.jade
		title= title
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=PT+Sans")
		if is_dev
			link(rel="stylesheet", type="text/css", href="style.css")
		else
			style(type="text/css")!=css
		script(type="text/javascript", src="http://code.jquery.com/jquery-1.10.1.min.js")
		if !is_dev
			script.
				var _gaq = _gaq || [];
				!{js}
		else
			each s in scripts
				script(type="text/javascript", src="js/"+s+".js")
	body
	block header
		include partials/header.jade
	block galleries
		include partials/galleries.jade
	block content
	block footer
		include partials/footer.jade
