sizes(1024px,650px,0,size_headerHeight,size_footerHeight);

#Header,#Pages
	font-size:120%
#Logo
	width:300px;
.gallery-image img
	opacity:1;
	width:100%;
	height:100%;
.gallery-image
	width:100%;
	height:100%;
.details, .js .details
	width:50%;
	opacity:1;