sizes(768px,500px,0,size_headerHeight,size_footerHeight);
#Logo
	width:130px;
#contactus-page
	.gallery-image-1
		bottom:-70px;
		left:50%;
		right:auto;
.controls
	display:none;
.page-description
	left:50%;
	right:0;
	background:white;
	background:rgba(255,255,255,.7);
.gallery-image img
	opacity:1;
	width:auto;
	height:auto;
.gallery-image
	width:auto;
	height:auto;
.gallery-image-0
	position:absolute;
	top:0;
	left:0;
.gallery-image-1
	position:absolute;
	bottom:0;
	right:0;
	left:auto;
	text-align:right;