article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body,
html {
  padding: 0;
  margin: 0;
}
html {
  -webkit-font-smoothing: antialiased;
}
img {
  -ms-interpolation-mode: bicubic;
}
#Body {
  margin: 0 auto;
  background: #fff;
}
#Logo {
  background: url("images/logo.jpg") 0 0 no-repeat;
}
body {
  font-family: sans-serif;
  font-size: 14px;
  color: #5e5e5e;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}
.minitext {
  font-size: 80%;
  color: #aaa;
}
a,
a:visited,
a:link {
  color: #999;
  text-decoration: none;
  font-weight: bold;
}
a:active,
a.active,
h1,
h2,
h3,
h4 {
  color: #c6af80;
  margin-top: 0;
}
.wrapper {
  width: 866px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.scroll-wrapper {
  overflow: hidden;
  margin: 0 auto;
}
.scroll-item {
  height: 100%;
}
.page {
  float: left;
  overflow: hidden;
  background: #fff;
  position: relative;
}
.anchor {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav {
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.nav a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
.social-links {
  float: right;
}
.social-link {
  margin-left: 5px;
}
.social-link:before {
  content: "| ";
}
.social-link:first-child:before {
  content: "";
}
.social-link:hover {
  text-decoration: underline;
}
.scroll-pane {
  width: 100%;
  height: 100%;
}
.scroll-pane.has-1 {
  width: 100%;
}
.scroll-pane.has-2 {
  width: 200%;
}
.scroll-pane.has-3 {
  width: 300%;
}
.scroll-pane.has-4 {
  width: 400%;
}
.scroll-pane.has-5 {
  width: 500%;
}
.scroll-pane.has-6 {
  width: 600%;
}
.scroll-pane.has-7 {
  width: 700%;
}
.scroll-pane.has-8 {
  width: 800%;
}
.scroll-pane.has-9 {
  width: 900%;
}
.scroll-pane.has-10 {
  width: 1000%;
}
.scroll-pane.has-11 {
  width: 1100%;
}
.scroll-pane.has-12 {
  width: 1200%;
}
.scroll-pane.has-13 {
  width: 1300%;
}
.scroll-pane.has-14 {
  width: 1400%;
}
.scroll-pane.has-15 {
  width: 1500%;
}
.scroll-pane.has-16 {
  width: 1600%;
}
.scroll-pane.has-17 {
  width: 1700%;
}
.scroll-pane.has-18 {
  width: 1800%;
}
.scroll-pane.has-19 {
  width: 1900%;
}
.scroll-pane.has-20 {
  width: 2000%;
}
.scroll-pane.has-21 {
  width: 2100%;
}
.scroll-pane.has-22 {
  width: 2200%;
}
.scroll-pane.has-23 {
  width: 2300%;
}
.scroll-pane.has-24 {
  width: 2400%;
}
.scroll-pane.has-25 {
  width: 2500%;
}
.scroll-pane.has-26 {
  width: 2600%;
}
.scroll-pane.has-27 {
  width: 2700%;
}
.scroll-pane.has-28 {
  width: 2800%;
}
.scroll-pane.has-29 {
  width: 2900%;
}
.scroll-pane.has-30 {
  width: 3000%;
}
.scroll-pane.has-31 {
  width: 3100%;
}
.scroll-pane.has-32 {
  width: 3200%;
}
.scroll-pane.has-33 {
  width: 3300%;
}
.scroll-pane.has-34 {
  width: 3400%;
}
.scroll-pane.has-35 {
  width: 3500%;
}
.scroll-pane.has-36 {
  width: 3600%;
}
.scroll-pane.has-37 {
  width: 3700%;
}
.scroll-pane.has-38 {
  width: 3800%;
}
.scroll-pane.has-39 {
  width: 3900%;
}
.scroll-pane.has-40 {
  width: 4000%;
}
.scroll-pane.has-41 {
  width: 4100%;
}
.scroll-pane.has-42 {
  width: 4200%;
}
.scroll-pane.has-43 {
  width: 4300%;
}
.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
.controls .next,
.controls .previous {
  position: absolute;
  font-size: 66.66666666666667px;
  top: 50%;
  bottom: 0;
  width: 100px;
  color: #d1bf9a;
}
.controls .next:after,
.controls .previous:after {
  content: "\2039";
  position: absolute;
  top: -50px;
  left: 0;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.controls .next:hover,
.controls .previous:hover {
  color: #d1bf9a;
}
.controls .next {
  right: -33.333333333333336px;
}
.controls .next:after {
  content: "\203A";
}
.controls .previous {
  left: -33.333333333333336px;
}
.details,
.page-description {
  width: 25%;
  padding: 20px;
  background: #fff;
  background: rgba(255,255,255,0.7);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  -ms-transition: all;
  transition: all;
  padding-right: 105px;
  text-align: justify;
  text-justify: inter-word;
  float: right;
}
.page-description {
  position: absolute;
  top: 0;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.details-container {
  height: 100%;
  display: table;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.details-wrapper {
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
}
.gallery-image {
  position: relative;
  height: 100%;
  margin: 0;
  float: left;
}
.gallery-image .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url("images/loading.gif") 50% 50% no-repeat;
}
.gallery-image img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.gallery-image:hover .details {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery-image:hover .controls {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery-image.active .controls {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.gallery-image.active .image {
  background: none;
}
#contactus-page .controls {
  display: none;
}
#contactus-page .page-description {
  left: 50%;
  right: 0;
  background: #fff;
  background: rgba(255,255,255,0.7);
}
#contactus-page .gallery-image img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  width: auto;
  height: auto;
}
#contactus-page .gallery-image {
  width: auto;
  height: auto;
}
#contactus-page .gallery-image-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  text-align: right;
}
#contactus-page .gallery-image-1 .image img {
  float: right;
}
#contactus-page .gallery-image-0 {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
}
.js .details {
  opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
}
.js .gallery-image img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
}
.js .gallery-image img.loaded {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.js .scroll-pane {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.js .scroll-item {
  position: absolute;
  left: -100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: opacity 1s, left 0s 1s;
  -moz-transition: opacity 1s, left 0s 1s;
  -o-transition: opacity 1s, left 0s 1s;
  -ms-transition: opacity 1s, left 0s 1s;
  transition: opacity 1s, left 0s 1s;
}
.js .scroll-item.active {
  left: 0;
  -webkit-transition: opacity 0.5s, left 0s;
  -moz-transition: opacity 0.5s, left 0s;
  -o-transition: opacity 0.5s, left 0s;
  -ms-transition: opacity 0.5s, left 0s;
  transition: opacity 0.5s, left 0s;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#Logo {
  width: 45%;
}
.anchor {
  top: -50px;
}
#Body {
  width: 866px;
  height: 550px;
  margin-top: 10px;
}
#Pages {
  height: 490px;
}
.wrapper {
  width: 866px;
}
.scroll-wrapper {
  width: 866px;
}
.scroll-item {
  height: 490px;
  width: 866px;
}
#Footer {
  height: 20px;
}
#Header {
  height: 40px;
}
@media only screen and (max-width: 320px) {
  body {
    overflow: hidden;
  }
  .anchor {
    top: -40px;
  }
  #Body {
    width: 320px;
    height: 203.23325635103922px;
    margin-top: 0;
  }
  #Pages {
    height: 163.23325635103922px;
  }
  .wrapper {
    width: 320px;
  }
  .scroll-wrapper {
    width: 320px;
  }
  .scroll-item {
    height: 163.23325635103922px;
    width: 320px;
  }
  #Footer {
    height: 0;
  }
  #Header {
    height: 40px;
  }
  .controls,
  #Footer {
    display: none;
  }
  #Logo {
    width: 40px;
  }
  .scroll-pane.has-1 {
    width: 100%;
    height: 100%;
  }
  .scroll-pane.has-2 {
    width: 100%;
    height: 200%;
  }
  .scroll-pane.has-3 {
    width: 100%;
    height: 300%;
  }
  .scroll-pane.has-4 {
    width: 100%;
    height: 400%;
  }
  .scroll-pane.has-5 {
    width: 100%;
    height: 500%;
  }
  .scroll-pane.has-6 {
    width: 100%;
    height: 600%;
  }
  .scroll-pane.has-7 {
    width: 100%;
    height: 700%;
  }
  .scroll-pane.has-8 {
    width: 100%;
    height: 800%;
  }
  .scroll-pane.has-9 {
    width: 100%;
    height: 900%;
  }
  .scroll-pane.has-10 {
    width: 100%;
    height: 1000%;
  }
  .scroll-pane.has-11 {
    width: 100%;
    height: 1100%;
  }
  .scroll-pane.has-12 {
    width: 100%;
    height: 1200%;
  }
  .scroll-pane.has-13 {
    width: 100%;
    height: 1300%;
  }
  .scroll-pane.has-14 {
    width: 100%;
    height: 1400%;
  }
  .scroll-pane.has-15 {
    width: 100%;
    height: 1500%;
  }
  .scroll-pane.has-16 {
    width: 100%;
    height: 1600%;
  }
  .scroll-pane.has-17 {
    width: 100%;
    height: 1700%;
  }
  .scroll-pane.has-18 {
    width: 100%;
    height: 1800%;
  }
  .scroll-pane.has-19 {
    width: 100%;
    height: 1900%;
  }
  .scroll-pane.has-20 {
    width: 100%;
    height: 2000%;
  }
  .scroll-pane.has-21 {
    width: 100%;
    height: 2100%;
  }
  .scroll-pane.has-22 {
    width: 100%;
    height: 2200%;
  }
  .scroll-pane.has-23 {
    width: 100%;
    height: 2300%;
  }
  .scroll-pane.has-24 {
    width: 100%;
    height: 2400%;
  }
  .scroll-pane.has-25 {
    width: 100%;
    height: 2500%;
  }
  .scroll-pane.has-26 {
    width: 100%;
    height: 2600%;
  }
  .scroll-pane.has-27 {
    width: 100%;
    height: 2700%;
  }
  .scroll-pane.has-28 {
    width: 100%;
    height: 2800%;
  }
  .scroll-pane.has-29 {
    width: 100%;
    height: 2900%;
  }
  .scroll-pane.has-30 {
    width: 100%;
    height: 3000%;
  }
  .scroll-pane.has-31 {
    width: 100%;
    height: 3100%;
  }
  .scroll-pane.has-32 {
    width: 100%;
    height: 3200%;
  }
  .scroll-pane.has-33 {
    width: 100%;
    height: 3300%;
  }
  .scroll-pane.has-34 {
    width: 100%;
    height: 3400%;
  }
  .scroll-pane.has-35 {
    width: 100%;
    height: 3500%;
  }
  .scroll-pane.has-36 {
    width: 100%;
    height: 3600%;
  }
  .scroll-pane.has-37 {
    width: 100%;
    height: 3700%;
  }
  .scroll-pane.has-38 {
    width: 100%;
    height: 3800%;
  }
  .scroll-pane.has-39 {
    width: 100%;
    height: 3900%;
  }
  .scroll-pane.has-40 {
    width: 100%;
    height: 4000%;
  }
  .scroll-pane.has-41 {
    width: 100%;
    height: 4100%;
  }
  .scroll-pane.has-42 {
    width: 100%;
    height: 4200%;
  }
  .scroll-pane.has-43 {
    width: 100%;
    height: 4300%;
  }
  .gallery-image.scroll-item,
  .gallery-image img {
    height: auto;
  }
  .anchor {
    top: 0;
  }
  .nav a {
    font-size: 90%;
  }
  #contactus-page .page-description {
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  #contactus-page .gallery-image-1 {
    bottom: -90px;
  }
  .details {
    display: none;
  }
}
@media only screen and (min-width: 321px) and (max-width: 767px) {
  body {
    overflow: hidden;
  }
  .anchor {
    top: -40px;
  }
  #Body {
    width: 480px;
    height: 304.8498845265588px;
    margin-top: 0;
  }
  #Pages {
    height: 244.8498845265588px;
  }
  .wrapper {
    width: 480px;
  }
  .scroll-wrapper {
    width: 480px;
  }
  .scroll-item {
    height: 244.8498845265588px;
    width: 480px;
  }
  #Footer {
    height: 20px;
  }
  #Header {
    height: 40px;
  }
  #Logo {
    width: 37px;
  }
  #contactus-page .page-description {
    left: 0;
    right: 50%;
  }
  .details {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .anchor {
    top: -40px;
  }
  #Body {
    width: 768px;
    height: 487.7598152424943px;
    margin-top: 0;
  }
  #Pages {
    height: 427.7598152424943px;
  }
  .wrapper {
    width: 768px;
  }
  .scroll-wrapper {
    width: 768px;
  }
  .scroll-item {
    height: 427.7598152424943px;
    width: 768px;
  }
  #Footer {
    height: 20px;
  }
  #Header {
    height: 40px;
  }
  #Logo {
    width: 130px;
  }
  #contactus-page .gallery-image-1 {
    bottom: -70px;
    left: 50%;
    right: auto;
  }
  .details,
  .js .details {
    width: 50%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
    background: #fff;
    background: rgba(255,255,255,0.7);
  }
  .gallery-image img {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: auto;
    height: auto;
  }
  .gallery-image {
    width: auto;
    height: auto;
  }
  .gallery-image-0 {
    position: absolute;
    top: 0;
    left: 0;
  }
  .gallery-image-1 {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    text-align: right;
  }
  .js .scroll-item {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .anchor {
    top: -40px;
  }
  #Body {
    width: 1024px;
    height: 650.3464203233254px;
    margin-top: 0;
  }
  #Pages {
    height: 590.3464203233254px;
  }
  .wrapper {
    width: 1024px;
  }
  .scroll-wrapper {
    width: 1024px;
  }
  .scroll-item {
    height: 590.3464203233254px;
    width: 1024px;
  }
  #Footer {
    height: 20px;
  }
  #Header {
    height: 40px;
  }
  #Header,
  #Pages {
    font-size: 120%;
  }
  #Logo {
    width: 300px;
  }
  .gallery-image img {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    width: 100%;
    height: 100%;
  }
  .gallery-image {
    width: 100%;
    height: 100%;
  }
  .details,
  .js .details {
    width: 50%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
