.controls
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
	overflow:hidden;
	transition all .5s;
	.next,.previous
		position:absolute;
		font-size:((size_buttonSize / 3)*2);
		top:50%;
		bottom:0;
		width:size_buttonSize;
		color:color_golden_light;
		&:after
			content:"\2039"
			position:absolute;
			top:-(size_buttonSize/2);
			left:0;
			width:size_buttonSize;
			height:size_buttonSize;
			border-radius(size_buttonSize)
			background:white;
			display:inline-block;
			vertical-align:middle;
			text-align:center;
			line-height:size_buttonSize;
			opacity:.8;		
		&:hover
			color:color_golden_light;
	.next
		right:-(size_buttonSize/3);
		&:after
			content:"\203A"
	.previous
		left:-(size_buttonSize/3);
