#contactus-page
	.controls
		display:none;
	.page-description
		left:50%;
		right:0;
		background:white;
		background:rgba(255,255,255,.7);
	.gallery-image img
		opacity:1;
		width:auto;
		height:auto;
	.gallery-image
		width:auto;
		height:auto;
	.gallery-image-1
		position:absolute;
		bottom:0;
		right:0;
		width:auto;
		text-align:right;
		.image img
			float:right
	.gallery-image-0
		position:absolute;
		top:0;
		left:0;
		right:auto;