.scroll-pane		
	width:100%;
	height:100%;
	&.has-1
		width:(100*1)%;
	&.has-2
		width:(100*2)%;
	&.has-3
		width:(100*3)%;
	&.has-4
		width:(100*4)%;
	&.has-5
		width:(100*5)%;
	&.has-6
		width:(100*6)%;
	&.has-7
		width:(100*7)%;
	&.has-8
		width:(100*8)%;
	&.has-9
		width:(100*9)%;
	&.has-10
		width:(100*10)%;
	&.has-11
		width:(100*11)%;
	&.has-12
		width:(100*12)%;
	&.has-13
		width:(100*13)%;
	&.has-14
		width:(100*14)%;
	&.has-15
		width:(100*15)%;
	&.has-16
		width:(100*16)%;
	&.has-17
		width:(100*17)%;
	&.has-18
		width:(100*18)%;
	&.has-19
		width:(100*19)%;
	&.has-20
		width:(100*20)%;
	&.has-21
		width:(100*21)%;
	&.has-22
		width:(100*22)%;
	&.has-23
		width:(100*23)%;
	&.has-24
		width:(100*24)%;
	&.has-25
		width:(100*25)%;
	&.has-26
		width:(100*26)%;
	&.has-27
		width:(100*27)%;
	&.has-28
		width:(100*28)%;
	&.has-29
		width:(100*29)%;
	&.has-30
		width:(100*30)%;
	&.has-31
		width:(100*31)%;
	&.has-32
		width:(100*32)%;
	&.has-33
		width:(100*33)%;
	&.has-34
		width:(100*34)%;
	&.has-35
		width:(100*35)%;
	&.has-36
		width:(100*36)%;
	&.has-37
		width:(100*37)%;
	&.has-38
		width:(100*38)%;
	&.has-39
		width:(100*39)%;
	&.has-40
		width:(100*40)%;
	&.has-41
		width:(100*41)%;
	&.has-42
		width:(100*42)%;
	&.has-43
		width:(100*43)%;