sizes(size_mainWidth,size_maxHeight,size_marginTop,size_headerHeight,size_footerHeight);

@media only screen and (max-width: 320px)
	@import "responsive/mobile-portrait"

@media only screen and (min-width: 321px) and (max-width: 480px)
	@import "responsive/mobile-landscape"

@media only screen and (min-width : 768px) and (max-width: 866px)
	@import "responsive/screen-small"

@media only screen and (min-width : 1024px) and (max-width: 1300px)
	@import "responsive/screen-medium"
	
@media only screen and (min-width : 1301px)
	@import "responsive/screen-large"