body,html
	padding:0;
	margin:0;

html
	-webkit-font-smoothing: antialiased;
img
	-ms-interpolation-mode: bicubic;

#Body
	margin:0 auto;
	background:white;

#Logo
	background:url('../images/logo.jpg') 0 0 no-repeat;